/* Tangerine by Toshi Omagari (https://fonts.google.com/specimen/Tangerine) */
@font-face {
  font-family: Tangerine;
  src: url('../fonts/CoC/Tangerine-Bold.woff2');
  font-weight: normal;
  font-style: normal;
}