/* Ovo by Nicole Fally (https://fonts.google.com/specimen/Ovo) */
@font-face {
  font-family: Ovo;
  src: url('../../../fonts/CoC/Ovo.woff2');
  font-weight: normal;
  font-style: normal;
}

/* Merriweather by Sorkin Type (https://fonts.google.com/specimen/Merriweather) */
@font-face {
  font-family: Merriweather;
  src: url('../../../fonts/CoC/Merriweather.woff2');
  font-weight: normal;
  font-style: normal;
}

/* Prata by Cyreal (https://fonts.google.com/specimen/Prata) */
@font-face {
  font-family: Prata;
  src: url('../../../fonts/CoC/Prata.woff2');
  font-weight: normal;
  font-style: normal;
}

/* Sacramento by Astigmatic (https://fonts.google.com/specimen/Sacramento) */
@font-face {
  font-family: Sacramento;
  src: url('../../../fonts/CoC/Sacramento.woff2');
  font-weight: normal;
  font-style: normal;
}

/* Noto Serif (https://fonts.google.com/noto/specimen/Noto+Serif) */
@font-face {
  font-family: NotoSerif;
  src: url('../../../fonts/CoC/NotoSerif.woff2');
  font-weight: normal;
  font-style: normal;
}

/* Noto Serif Display (https://fonts.google.com/noto/specimen/Noto+Serif+Display) */
@font-face {
  font-family: NotoSerifDisplay;
  src: url('../../../fonts/CoC/NotoSerifDisplay.woff2');
  font-weight: normal;
  font-style: normal;
}

/* Tangerine by Toshi Omagari (https://fonts.google.com/specimen/Tangerine) */
@font-face {
  font-family: Tangerine;
  src: url('../../../fonts/CoC/Tangerine-Bold.woff2');
  font-weight: normal;
  font-style: normal;
}

/* Special Elite by Astigmatic (https://fonts.google.com/specimen/Special+Elite) */
@font-face {
  font-family: SpecialElite;
  src: url('../../../fonts/CoC/SpecialElite.woff2');
  font-weight: normal;
  font-style: normal;
}

/* Inconsolata by Raph Levien (https://fonts.google.com/specimen/Inconsolata) */
@font-face {
  font-family: Inconsolata;
  src: url('../../../fonts/CoC/Inconsolata.woff2');
  font-weight: normal;
  font-style: normal;
}