@import (less) './themes/assets/assets.less';
@import (less) './themes/fonts/5e/fonts.less';
@import (less) './themes/fonts/CoC/fonts.less';
@import (less) './themes/V3/Blank/style.less';

//Colors
@background : rgba(255, 255, 255, 0.8); // Lighter parchment
@note : #e2dcdf; // Light purple
@headerUnderline : #8d8187; // Gray purple
@headingText : #010613; // Dark maroon
@subHeadingText : #3c4464; // Purple

.page {
    padding: 2.2cm 1.9cm 1.8cm;
    // Create nicer background images for odd and even pages
    background-image: @creamPaperBackground;

    //*****************************
    // *           HEADERS
    // *****************************/
    h1,
    h2,
    h3,
    h4 {
        font-family: Prata;
        font-weight: 800;
        text-align: center;
    }

    h1,
    h2 {
        color: @headingText;
    }

    h3,
    h4,
    h5,
    h6 {
        color: @subHeadingText;
    }

    h5 {
        font-family: ScalySansSmallCapsRemake;
        font-size: 0.423cm;
        font-weight: 900;
        line-height: 0.951em; //Font is misaligned. Shift up slightly

        &+* {
            margin-top: 0.2cm;
        }
    }

    //*****************************
    // *      PAGE HEADER
    //*****************************
    .pageHeader {
        position: absolute;
        top: 7mm;
        
        width: 177.9mm;
        text-align: center;

        font-family: NotoSerif;
    }

    .pageHeader p {
        font-size: 0.4cm;

        color: white;
        mask-image: none;
        -webkit-mask-image: none;

        -webkit-text-stroke: 0.01cm @headingText;
    }

    .pageHeader p {
        overflow: hidden;
        text-align: center;
    }
    
    .pageHeader p:before,
    .pageHeader p:after {
        background-color: transparent;
    }

    //*****************************
    // *            NOTE
    // *****************************/
    .note {
        margin: 0 0 2em 0;
        background-color: @background;
        background-image: none;
        border-style: solid;
        border-color: transparent;
        border-width: 4px;
        border-radius: 0;
        /* TODO: Make a nicer frame, add wide note style */
        border-image: @CoCFramePurple 25 fill;
        border-image-outset: 14px 0px;
        border-image-width: 1.5em;
        padding: 0.13cm 0.16cm;

        box-shadow: none;

    }

    //************************************
    // *       DESCRIPTIVE TEXT BOX
    // ************************************/
    .descriptive {
        font-family: Inconsolata, serif;
        padding: 1em 1.2em;
        margin: .5em 0 3em 0;
        /* TODO: Add nicer frame */
        border-top: none;
        border-bottom: none;
        border-left: solid thin @headerUnderline;
        border-right: solid thin @headerUnderline;

        background-color: @background;
        border-image: none;
        -webkit-border-image: none;

        p {
            font-style: normal;
        }
    }

    //*****************************
    // *           FOOTER
    // *****************************/
    .pageNumber {
        bottom: 22px;

        border: thin solid @subHeadingText;

        // Add nice border
        border-radius: 50%;

        color: @subHeadingText;
    }

    &:nth-child(odd) .pageNumber {
        left: calc(50% - 16px);
    }

    &:nth-child(even) .pageNumber {
        right: calc(50% - 16px);
    }

    //*****************************
    // *      TABLE OF CONTENTS
    // *****************************/
    .toc {
        background-color: @background;
        border-style: solid;
        border-width: 4px;
        border-color: transparent;
        /* TODO: Make a nicer frame, change to wide frame */
        border-image: @CoCFrameBlack 25 fill;
        border-image-outset: 14px 0px;
        border-image-width: 1.5em;

        padding: 2em 1em;

        h3 {
            border-bottom: solid thin @subHeadingText;
        }

        h4,
        h5,
        h6 {
            color: @headingText  !important;
        }
    }

//*****************************
// *  Character/Monster block
// *****************************/

    .cocCharacter { 
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: left;
        }
    }

    .cocStatsBlock {
        text-align: center;
        margin: 1.2em 0 1.2em 0;
        background-color: @background;
        border-style: solid none;
        border-width: 4px;
        border-color: transparent;
        /* TODO: Make a nicer frame */
        border-image: @CoCFrameBlack 25 fill;
        border-image-outset: 14px 0px;
        border-image-width: 1.5em;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: center;
        }

        table tbody tr:nth-child(odd) {
            background-color: @note;
        }

        table tbody tr td:nth-child(even) {
            padding: .07em;
        }

        p+.cocStatsBlock {
            padding-top: 0.3em;
        }
    }

    // *****************************
    // *       Title Quote
    // *****************************/
    .titleQuote {
        width: 95%;

        h1,
        h2,
        h3,
        h4,
        h5 {
            border-bottom: solid thin @headerUnderline;
            padding-bottom: 0.1em;
        }

        p, h6 {
            font-family: SpecialElite;
            font-size: 4.5mm;
            margin: 0 10% .6em;
        }

        h6 {
            color: black;
            text-align: right;
        }

        &.wide {
            width: calc(0.95 * (100% - 2 * 1.9cm));
        }
    }
}