// PHB
@footerAccentImage        : url('/assets/PHB_footerAccent.png');
@frameBorderImage         : url('/assets/frameBorder.png');
@backgroundImage          : url('/assets/parchmentBackground.jpg');
@redTriangleImage         : url('/assets/redTriangle.png');
@monsterBorderImageLegacy : url('/assets/monsterBorderLegacy.png');
@noteBorderImage          : url('/assets/noteBorder.png');
@descriptiveBoxImage      : url('/assets/descriptiveBorder.png');
@monsterBlockBackground   : url('/assets/parchmentBackgroundGrayscale.jpg');
@monsterBorderImage       : url('/assets/monsterBorderFancy.png');
@codeBorderImage          : url('/assets/codeBorder.png');
@classTableDecoration     : url('/assets/classTableDecoration.png');

// Watercolor Images
@watercolor1  : url('/assets/watercolor/watercolor1.png');
@watercolor2  : url('/assets/watercolor/watercolor2.png');
@watercolor3  : url('/assets/watercolor/watercolor3.png');
@watercolor4  : url('/assets/watercolor/watercolor4.png');
@watercolor5  : url('/assets/watercolor/watercolor5.png');
@watercolor6  : url('/assets/watercolor/watercolor6.png');
@watercolor7  : url('/assets/watercolor/watercolor7.png');
@watercolor8  : url('/assets/watercolor/watercolor8.png');
@watercolor9  : url('/assets/watercolor/watercolor9.png');
@watercolor10 : url('/assets/watercolor/watercolor10.png');
@watercolor11 : url('/assets/watercolor/watercolor11.png');
@watercolor12 : url('/assets/watercolor/watercolor12.png');

// Call of Cthulhu
@lightBackgroundImage : url('/assets/CoC/lightParchmentBackground.jpg');
@darkBackgroundImage  : url('/assets/CoC/darkParchment.png');
@CoCFrameBlack        : url('/assets/CoC/fancyFrameBlack.svg');
@CoCFramePurple       : url('/assets/CoC/fancyFramePurple.svg');
@CoCSimpleFrame       : url('/assets/CoC/simpleFrame.svg');
@CoCNoteFrameMask     : url('/assets/CoC/noteFrameMask.svg');
@CoCLetterMask        : url('/assets/CoC/letterMask.svg');
@CoCBookMask          : url('/assets/CoC/bookMask.svg');

// Distressed masks for a grunge texture by Nick Saporito of 
// "Logos By Nick LLC" (https://logosbynick.com/15-free-grunge-textures/)
@grungeTexture1-black  : url('/assets/grungeTextures/Texture1-black.png');
@grungeTexture1-alpha  : url('/assets/grungeTextures/Texture1-alpha.png');
@grungeTexture2-black  : url('/assets/grungeTextures/Texture2-black.png');
@grungeTexture2-alpha  : url('/assets/grungeTextures/Texture2-alpha.png');
@grungeTexture3-black  : url('/assets/grungeTextures/Texture3-black.png');
@grungeTexture3-alpha  : url('/assets/grungeTextures/Texture3-alpha.png');
@grungeTexture4-black  : url('/assets/grungeTextures/Texture4-black.png');
@grungeTexture4-alpha  : url('/assets/grungeTextures/Texture4-alpha.png');
@grungeTexture5-black  : url('/assets/grungeTextures/Texture5-black.png');
@grungeTexture5-alpha  : url('/assets/grungeTextures/Texture5-alpha.png');
@grungeTexture6-black  : url('/assets/grungeTextures/Texture6-black.png');
@grungeTexture6-alpha  : url('/assets/grungeTextures/Texture6-alpha.png');
@grungeTexture7-black  : url('/assets/grungeTextures/Texture7-black.png');
@grungeTexture7-alpha  : url('/assets/grungeTextures/Texture7-alpha.png');
@grungeTexture8-black  : url('/assets/grungeTextures/Texture8-black.png');
@grungeTexture8-alpha  : url('/assets/grungeTextures/Texture8-alpha.png');
@grungeTexture9-black  : url('/assets/grungeTextures/Texture9-black.png');
@grungeTexture9-alpha  : url('/assets/grungeTextures/Texture9-alpha.png');
@grungeTexture10-black : url('/assets/grungeTextures/Texture10-black.png');
@grungeTexture10-alpha : url('/assets/grungeTextures/Texture10-alpha.png');
@grungeTexture11-black : url('/assets/grungeTextures/Texture11-black.png');
@grungeTexture11-alpha : url('/assets/grungeTextures/Texture11-alpha.png');
@grungeTexture12-black : url('/assets/grungeTextures/Texture12-black.png');
@grungeTexture12-alpha : url('/assets/grungeTextures/Texture12-alpha.png');
@grungeTexture13-black : url('/assets/grungeTextures/Texture13-black.png');
@grungeTexture13-alpha : url('/assets/grungeTextures/Texture13-alpha.png');
@grungeTexture14-black : url('/assets/grungeTextures/Texture14-black.png');
@grungeTexture14-alpha : url('/assets/grungeTextures/Texture14-alpha.png');
@grungeTexture15-black : url('/assets/grungeTextures/Texture15-black.png');
@grungeTexture15-alpha : url('/assets/grungeTextures/Texture15-alpha.png');
